{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week 2</title>
</head>

<body>
    <form>
        <h1>Registration!</h1>
        <p><label for="fname">First Name </label>
            <input type="text" id="fname" name="fname" required>
            <label for="lname">Last Name </label>
            <input type="text" id="lname" name="lname" required>
        </p>

        <p>Select a Subject:<br>
            <input type="radio" name="sub" id="1" value="Front End">
            <label for="1">Front End</label><br>
            <input type="radio" name="sub" id="2" value="Back End">
            <label for="2">Back End</label><br>
            <input type="radio" name="sub" id="3" value="Full Stack">
            <label for="3">Full Stack</label>
        </p>
        <p><label for="email">Email </label>
            <input type="email" name="email" id="email" required>
            <label for="password">Password </label>
            <input type="password" id="password" name="password" reqiured>
        </p>
        <p><label for="age">Select Age Group</label>
            <select name="age" id="age">
                <option value="under 18" selected>Under 18</option>
                <option value="18-30">18-30</option>
                <option value="30-50">30-50</option>
                <option value="50+">50+</option>
            </select></p>
        <p>
            <label for="img">Upload a photo: </label>
            <input type="file" id="img" name="img" accept="image/*">
        </p>
        <button><a href="/form"> Register!</a></button>
    </form>

</body>

</html>